<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="dk.webcom.longhaul" version="1.0.0">

	<name>Longhaul</name>
	<description>Operation Longhaul</description>
	<author href="http://jacob.saxberg.dk/" email="jacob@webcom.dk">Jacob Friis Saxberg</author>

	<!-- <feature name="http://api.phonegap.com/1.0/file" /> 
	<feature name="http://api.phonegap.com/1.0/camera" /> -->

</widget>