body {
	// for .navbar-fixed-
  // padding-top: 40px;
	padding-bottom: 40px;
  border-top: 3px solid #3498db;
}

section {
	margin-top: 20px;
}

.thinline {
  background-color: #3498db;
  height: 3px;
  margin: 0
}

#productform {
	legend {
		border: none;
	}
}

#camtoggle {
	margin-right: 10px;
}

/* center navbar items */
.navbar.center {
	.nav, .nav > li {
		float: none;
		display: inline-block;
		vertical-align: top;
	}
  .brand { 
    margin-left: auto; 
    margin-right: auto; 
    float: none;
    padding-top: 13px;
    padding-bottom: 0;
  }
	.navbar-inner {
		text-align: center;
	}
	.dropdown-menu {
		text-align: left;
	}
}

/* Override Bootstrap Responsive CSS fixed navbar */
@media (max-width: 979px) {
	.navbar-fixed-top, .navbar-fixed-bottom {
		position: fixed;
		margin-left: 0px;
		margin-right: 0px;
	}
}

#savings {
	tbody {
		img {
			max-width: 20px;
			max-height: 20px;
		}
	}
}

/* fix Bootstrap */
.text-right {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}
.text-left {
	text-align: left !important;
}

// http://stackoverflow.com/a/10810201/194515
.modal { 
  position: fixed; 
  top: 3%; 
  right: 3%; 
  left: 3%; 
  width: auto; 
  margin: 0; 
}
.modal-body { 
  height: 60%; 
}
.modal-body { 
  max-height: 350px; 
  padding: 15px; 
  overflow-y: auto; 
  -webkit-overflow-scrolling: touch; 
}
 